.inputTranslation{
    width: 100%;
    background-color: #FFC75F;
    border:0;
    height: 150px;
    margin:0;
    
}

.inputTranslate{
    border-radius: 30px;
    height: 50px;
    width: 600px;
    background-color: #EFEFEF;
    border: 2px solid white ;
    color:#969696 ;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 340px;
    position: absolute;
    padding-left: 1em;
}


.clickTranslate{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position:relative;
    font-size: 30px;
    background-color: #845EC2;
    border:0;
    color:white;
    margin-left:920px;
    margin-top:47px;
    
}