.profileBtns{
    
    margin-top:20px;
    width: 100%;
}

.clearList{
    height: 30px;
    width:100px;
    background-color: #845EC2;;
    border:0;
    border-radius:4px;
    color: white;
}

.logout{
    height: 30px;
    width:100px;
    margin-top:15px;
    background-color: #845EC2;
    border:0;
    border-radius:4px;
    color:white;
}

.translationsBox{
    height: 300px;
}

