.componentBody{
    position: absolute;
    margin-top:240px;
    margin-left: 300px;
    
}

.inputBox{
    border:0;
    border-radius: 8px;
    background-color:white;
    height: 80px;
    width: 600px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px #c0c0c0;
}

.loginInput{
    border-radius: 30px;
    height: 40px;
    width: 450px;
    background-color: #EFEFEF;
    border: 2px solid #969696 ;
    color:#969696 ;
    font-size: 18px;
    margin-top: 15px;
    position: absolute;
    padding-left: 1em;
    
  }

.clickLogin{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position:relative;
    font-size: 30px;
    background-color: #845EC2;
    border:0;
    color:white;
    margin-left:430px;
    margin-top:20px;
    
}

