
.App {
  
}

ul{
  list-style: none;
  margin:0;
}

.navBar{
  background-color: #FFC75F;
  height: 50px;
  border-bottom:2px solid #E7B355;
  padding-top:1em;
  
}

.navHeader{
  float: left;
  color: white;

}

.links{
  float: right;
  display: inline-flex;
  margin-right: 10px;
  margin-top: 10px;
}

.links img{
  margin-left: 10px;
}

.background{
  background-color: #FFC75F;
  height:300px;
  position:fixed;
  width: 100%;
  color:white;
}

h1, h2{
  margin:0;
}

.background img{
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 300px;
  margin-top: 50px;
  padding-right: 50px;
}

.background .header{
  margin-top:80px;
  margin-left: 100px;
}

.background .header h1{
  margin-bottom: 10px;
  font-size:40px;
}

.profileEl{
  margin-left: 550px;
}

.headerProfile{
  text-align: center;
  margin-top:20px;
}

.backgroundProfile{
  background-color: #FFC75F;
  position:fixed;
  width: 100%;
  color:white;
  height: 100%;
}

.signOutput{
  
  width:620px;
  margin-left: 345px;
  margin-top:30px;
  border-radius: 10px;
  height: 250px;
  padding-left: 40px;
  padding-top:30px;
  box-shadow: 2px 2px 10px 2px #c0c0c0;

}
.backToTranslate {
  text-decoration: none;
}
